:root {
    --bg: #5c527f;
}

.panel__adm h2 {
    text-align: center;
    color: var(--bg);
}

.ocupacion {
    position: absolute;
    top: 5em;
    left: 2em;
    background-color: var(--morado-oscuro);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.ocupacion a {
    color: #fff;
}
.btn-expo {
    margin: 1em 0;
    background-color: var(--bg);
}

.card__user {
    background-color: var(--filter-box);
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 1em;
    transition: box-shadow 0.5s;
}

.card__user:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    cursor: pointer;
}

.btn {
    padding: 5px 10px;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s;
    display: inline-block;
}

.btn__showUser {
    background-color: var(--bg);
    color: #fff;
    margin-bottom: 1em;
}

.box__action {
    display: flex;
    gap: 1em;
}

.btn:active {
    transform: scale(0.9);
}

.btn:hover {
    opacity: 0.9;
}

.btn-delete {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-update {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn__options {
    display: flex;
    flex-direction: column;
}
@media (max-width: 500px) {
    .ocupacion {
        position: static;
        text-align: center;
    }
}

/* Estilos de select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #5c527f;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c527f;
    overflow: hidden;
    border-radius: 0.25em;
}
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #5c527f;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}
.select:hover::after {
    color: #5c527f;
}

option:disabled {
    color: #000;
    font-weight: bold;
}

/* img filter */
.imgFilter {
    margin-top: 1em;
}

.imgFilter_box {
    width: 500px;
}

.imgFilter_box img {
    width: 100%;
}

@media (max-width: 500px) {
    .imgFilter_box {
        width: 300px;
    }
}
