.login .form__container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.login .title__section {
    color: var(--morado-claro);
    margin-bottom: 0.5em;
}

/* Inputs normales */

.login .form__group {
    position: relative;
    --color: var(--morado-claro);
}

.login .form__input {
    width: 100%;
    background-color: none;
    color: var(--morado-claro);
    font-size: 1rem;
    padding: 0.6em 0.3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: "Roboto", sans-serif;
}

.login .form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    transform: translateY(-12px) scale(0.9);
    transform-origin: left top;
    color: var(--morado-claro);
    font-weight: bold;
}

.login .form__label {
    color: var(--morado-claro);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform 0.5s, color 0.3s;
}

.login .form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--morado-claro);
    transform: scale(0);
    transform: left botton;
    transition: transform 0.4s;
}

.login .form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
    transform: scale(1);
}

.login .form__btn {
    outline: none;
    border: none;
    background-color: #5c527f;
    padding: 1em 0;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s;
}

.login .form__btn:active {
    transform: scale(0.9);
}
