@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,600;1,700&display=swap");

:root {
    --morado-oscuro: #261c2c;
    --morado-medio: #3e2c41;
    --morado-claro: #5c527f;
    --azul-claro: #6e85b2;

    /* Variables para el theme color */
    --font-color: #f4f4f4;
    --primary-color: #323444;
    --secondary-color: #242533;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.container {
    min-height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

/* Themecolor */

html[scheme="dark-mode"] {
    --font-color: #444444;
    --primary-color: #ccc;
    --secondary-color: #b5b5b5;
    --morado-claro: #fff;
    --morado-claro-bg: #5c527f;
    --morado-claro-color: #5c527f;
    --color-radio: #ccc;
    --filter-box: #313131;
}

html[scheme="light-mode"] {
    --font-color: #f4f4f4;
    --primary-color: #323444;
    --secondary-color: #242533;
    --color-radio: #5c527f;
    --filter-box: rgb(231, 228, 255);
}

html {
    background-color: var(--font-color);
    color: var(--primary-color);
}

@media (max-width: 500px) {
    .container {
        padding-top: 5em;
    }
}

input {
    background-color: var(--font-color);
}
